body{font-family:"Helvetica Neue",Helvetica,Arial,clean,sans-serif;}
a {color:#6a3e00;}
  a:hover {color:#9eb933;}
nav ul { display:none };
h2 {font-size: 161.6%;}
section header a {display: none}
section li .votes {margin: 0 0 0 0.5em}